.card {
    display: "flex",
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    cursor: pointer;
    margin: 30px;
}
